<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="tmsConnStr" connectionString="Data Source=tms-historybuff.mysql.database.azure.com;port=3306; user id=tms_admin@tms-historybuff;password=HistoryBuffs1; 
         database=tms;" providerName="MySql.Data.MySqlClient" />
    <add name="cmConnStr" connectionString="server={0};port={1};user id=DevOSHT;password=Snodgr4ss!;database=cmp;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- file log save location -->
    <add key="logLocation" value= "~TmsLog.txt" />
    <!-- file log save location -->
    <add key="logName" value="TMSLog.txt" />
    <!-- IP Config -->
    <add key="ipInfo" value="159.89.117.198" />
    <!-- Port Config -->
    <add key="portInfo" value="3306" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.18.0" newVersion="8.0.18.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>